name: publish

on:
  workflow_dispatch:
  push:
    tags:
      - 'v*'

jobs:
  build:
    uses: ./.github/workflows/_build_wheels.yaml

  upload_all:
    name: Upload wheels to PyPI
    needs: [build]
    runs-on: ubuntu-slim
    permissions:
      contents: write
      id-token: write
    steps:
      - uses: actions/download-artifact@v8
        with:
          pattern: pypi-*
          merge-multiple: true
          path: dist

      - uses: astral-sh/setup-uv@v7
      - run: uv publish
